NODE_ENV=development
PORT=3000
DATABASE_PATH=./data/tio_higno.sqlite
APP_TIMEZONE=America/Sao_Paulo

# Production example:
# NODE_ENV=production
# DATABASE_PATH=/data/tio_higno.sqlite
# PORT=3000
# APP_TIMEZONE=America/Sao_Paulo
